<%= form_with(model: account_chart) do |form| %>
  <% if account_chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_chart.errors.count, "error") %> prohibited this account_chart from being saved:</h2>

      <ul>
        <% account_chart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_area :account_name %>
  </div>

  <div class="field">
    <%= form.label :ctype %>
    <%= form.text_area :ctype %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_area :category %>
  </div>

  <div class="field">
    <%= form.label :class %>
    <%= form.text_area :class %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
